@using System.Linq
@using GomocupOnline.Models

@model TournamentMatch


@{
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var strongStart = "<strong>";
    var strongEnd = "</strong>";

    string[] players1 = Model.Matches.Select(match => match.Player1).Distinct().ToArray();
    string[] players2 = Model.Matches.Select(match => match.Player2).Distinct().ToArray();
    List<string> playersBoth = new List<string>();
    playersBoth.AddRange(players1);
    playersBoth.AddRange(players2);
    string[] players = playersBoth.Distinct().ToArray();
}

<h2>Engines</h2>

@foreach (string engine in players)
{
    @Html.ActionLink(engine, "MatchesByEngine", "Tournament", new { engine = engine, tournament = Model.Tournament }, null)
    <text>,</text>
}
    

<h2>Matches</h2>

<table class="table">
    <tr>
        <th>
            LastChange
        </th>
        <th>
            FileName
        </th>
        <th>
            Player 1
        </th>
        <th>
            Player 2
        </th>
        <th>
            Moves
        </th>
        <th>
            Detail
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Matches)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @if (item.Result == 1)
                {
                    @Html.Raw(strongStart)
                }
                @Html.DisplayFor(modelItem => item.Player1)
                @if (item.Result == 1)
                { 
                    @Html.Raw(strongEnd)
                }
            </td>
            <td>
                @if (item.Result == -1)
                {
                    @Html.Raw(strongStart)
                }
                @Html.DisplayFor(modelItem => item.Player2)
                @if (item.Result == -1)
                {
                    @Html.Raw(strongEnd)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moves)
            </td>
            <td>
                @Html.ActionLink("Detail", "Match", new { tournamentMatch = item.FileName })
            </td>
        </tr>
    }

</table>
