@using System.Linq

@model GomocupOnline.Models.GomokuMatchModel

@{
    ViewBag.Title = "Match";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int durationMs = Model.Moves.Sum(m => m.DurationMS);

    TimeSpan duration = new TimeSpan(0, 0, 0, 0, durationMs);

    string strDuration = duration.ToString("hh\\:mm\\:ss");

    string id = Guid.NewGuid().ToString().Replace("-", "").Substring(0, 6);

    //int squareSize = 20;

    string stones = "stones" + id;
    string board = "board" + id;
    string canvas = "canvas" + id;
    string status = "status" + id;
}

<h2>@Model.Player1 vs @Model.Player2</h2>

<div>
    <span id="@status">no status</span><br />
    <canvas id="@id" width="500" height="530"></canvas>
    <br />
    <button type="button" onclick="UpdateBoard('@id', '@(Model.FileName)')">Refresh</button>
</div>

<script type="text/javascript" src="~/Scripts/gomoku.canvas.js"></script>
<script type="text/javascript">

    var stones = [];
    @for (int i = 0; i < Model.Moves.Length; i++)
    {
        @Html.Raw("    stones.push({X:" + Model.Moves[i].X + ",Y:" + Model.Moves[i].Y + ",DurationMS:" + Model.Moves[i].DurationMS + "});\r\n");
    }

    var @(board) = {
        Width : @(Model.Width),
        Height : @(Model.Height),
        Moves: stones,
        Player1: '@(Model.Player1)',
        Player2: '@(Model.Player2)',
        FileName: '@(Model.FileName)',
        Result: @(Model.Result),
    };

    var drawSettings = {
        lineWidth: 0.5,
    };


    var @(canvas) = document.getElementById('@id');

    DrawGomoku(@(canvas), @(board), drawSettings);

    function UpdateBoard(id, filename)
    {
        var canvas = document.getElementById(id, filename);

        var jsonQuery = {};
        jsonQuery.tournamentMatch = filename;
        $.getJSON("MatchJSON", jsonQuery, function( data ) {

            board = data;
            DrawGomoku(canvas, board, drawSettings);
        });
    }

    var socketUrl = '/api/matchsocket?match=' + '@(Model.FileName)';

    var ws;
    $().ready(function () {
       
        $('@(status)').text("connecting");
        ws = new WebSocket("ws://" + window.location.hostname + ':' + window.location.port + socketUrl);

        ws.onopen = function () {
            $('@(status)').text("connected");

            if (ws.readyState == WebSocket.OPEN) {
                //ws.send('I am connected ' + @(board).FileName);
            }
            else {
                $('@(status)').text("Connection is closed");
            }
        };
        ws.onmessage = function (evt) {           
            var board = JSON.parse(evt.data);
            DrawGomoku(@(canvas), board, drawSettings);
        };
        ws.onerror = function (evt) {
            $('@(status)').text(evt.message);
        };
        ws.onclose = function () {
            $('@(status)').text("disconnected");
        };
       
        $("#btnDisconnect").click(function () {
            ws.close();
        });
    });

</script>
