@using System.Linq

@model GomocupOnline.Models.GomokuMatchModel

@{
 
    int durationMs = Model.Moves.Sum(m => m.DurationMS);

    TimeSpan duration = new TimeSpan(0, 0, 0, 0, durationMs);

    string strDuration = duration.ToString("hh\\:mm\\:ss");

    string id = Guid.NewGuid().ToString().Replace("-", "").Substring(0, 6);

    //int squareSize = 20;

    string stones = "stones" + id;
    string board = "board" + id;
    string canvas = "canvas" + id;
    string status = "status" + id;
    string replayState = "replayState" + id;    
}

<div>    
    <canvas id="@id" width="500" height="530"></canvas>
    <br />
    @*<button type="button" onclick="UpdateBoard('@id', '@(Model.FileName)')">Refresh</button>*@
    <button type="button" onclick="ReplayStart('@id', @(replayState), @(board))">Replay</button>
        
    <button type="button" onclick="First('@id', @(replayState), @(board))">&lt;&lt;</button>
    <button type="button" onclick="Prev('@id', @(replayState), @(board))">&lt;</button>
    <button type="button" onclick="Pause('@id', @(replayState), @(board))">&#124;&#124;</button>
    <button type="button" onclick="Continue('@id', @(replayState), @(board))">&#9658;</button>
    <button type="button" onclick="Next('@id', @(replayState), @(board))">&gt;</button>
    <button type="button" onclick="Last('@id', @(replayState), @(board))">&gt;&gt;</button>
</div>

<script type="text/javascript" src="~/Scripts/gomoku.canvas.js"></script>
<script type="text/javascript">

    var @(stones) = [];
    var replayPauseMs = 500;

    @for (int i = 0; i < Model.Moves.Length; i++)
    {
        @Html.Raw("    " + stones + ".push({X:" + Model.Moves[i].X + ",Y:" + Model.Moves[i].Y + ",DurationMS:" + Model.Moves[i].DurationMS + "});\r\n");
    }

    var @(board) = {
        Width : @(Model.Width),
        Height : @(Model.Height),
        Moves: @(stones),
        Player1: '@(Model.Player1)',
        Player2: '@(Model.Player2)',
        FileName: '@(Model.FileName)',
        Result: @(Model.Result),
    };

    var drawSettings = {
        lineWidth: 0.5,
    };


    var @(canvas) = document.getElementById('@id');

    var @(replayState) = {
        moveIndex: @(board).Moves.length,
        pause: true,        
    };

    DrawGomoku(@(canvas), @(board), drawSettings, @(replayState).moveIndex);

    function UpdateBoard(id, filename, board)
    {
        var canvas = document.getElementById(id, filename);

        var jsonQuery = {};
        jsonQuery.tournamentMatch = filename;
        $.getJSON("MatchJSON", jsonQuery, function( data ) {

            board = data;
            DrawGomoku(canvas, board, drawSettings, board.Moves.length);
        });
    }

    function Replay(id, replayState, board)
    {
        var canvas = document.getElementById(id, filename);

        var jsonQuery = {};
        jsonQuery.tournamentMatch = filename;

        DrawGomoku(canvas, board, drawSettings, moveIndex);

        if(replayState.pause ||  replayState.moveIndex >= board.Moves.length)
        return; //end of replay

        setTimeout(function ()
        {
            if(replayState.pause)
                return;

            replayState.moveIndex = replayState.moveIndex+ 1;
            Replay(id, replayState, board);
        },
        replayPauseMs);
    }

    function Pause(id, replayState, board)
    {
        replayState.pause = true;
    }

    function Continue(id, replayState, board)
    {
        if(replayState.moveIndex == board.Moves.length)
            replayState.moveIndex = 1;
        replayState.pause = false;
        Replay(id, replayState, board);
    }

    function Last(id, replayState, board)
    {
        replayState.moveIndex =  board.Moves.length;
        replayState.pause = true;
        Replay(id, replayState, board);
    }

    function First(id, replayState, board)
    {
        replayState.moveIndex =  1;
        replayState.pause = true;
        Replay(id, replayState, board);
    }

    function Next(id, replayState, board)
    {
        replayState.pause = true;
        if( moveIndex < board.Moves.length )
        {
            replayState.moveIndex = replayState.moveIndex +  1;
            Replay(id, replayState, board);
        }
    }

    function Previd(id, replayState, board)
    {
        pause = true;
        if( moveIndex > 0)
        {
            replayState.moveIndex = replayState.moveIndex -  1;
            Replay(id, replayState, board);
        }
    }

    function ReplayStart(id, replayState, board)
    {
        replayState.moveIndex = 1;
        replayState.pause = false;
        Replay(id, replayState, board);
    }

    @*var socketUrl = '/api/matchsocket?match=' + '@(Model.FileName)';

    var ws;
    $().ready(function () {

        $('@(status)').text("connecting");
        ws = new WebSocket("ws://" + window.location.hostname + ':' + window.location.port + socketUrl);

        ws.onopen = function () {
            $('@(status)').text("connected");

            if (ws.readyState == WebSocket.OPEN) {
                //ws.send('I am connected ' + @(board).FileName);
            }
            else {
                $('@(status)').text("Connection is closed");
            }
        };
        ws.onmessage = function (evt) {
            var board = JSON.parse(evt.data);
            DrawGomoku(@(canvas), board, drawSettings, board.Moves.length);
        };
        ws.onerror = function (evt) {
            $('@(status)').text(evt.message);
        };
        ws.onclose = function () {
            $('@(status)').text("disconnected");
        };

        $("#btnDisconnect").click(function () {
            ws.close();
        });
    });*@

</script>
